<h1>Yash Dani</h1>
<h1>1001707349</h1>
<br>
<h1>1)</h1>
<form action="prob1" method="post">
	<label>Number of queries: (1 - 1000): </label>
	<input type="number" name="query_count" min="1" max="1000">
	<br>
	<input type="radio" name="use_cache" value="True"><label>Cache</label><br>
	<input type="radio" name="use_cache" value="False" checked><label>No Cache</label><br>
	<input type="submit" name="queries_generate_submit">
</form>

<h1>2)</h1>
<form action="prob2" method="post">
	<label>Magnitude: </label>
	<input type="number" name="start_magnitude" min="0">
	<label> to </label>
	<input type="number" name="end_magnitude" max="10">
	<br>
	<label>Number of queries: (1 - 1000): </label>
	<input type="number" name="query_count" min="1" max="1000">
	<br>
	<input type="radio" name="use_cache" value="True"><label>Cache</label><br>
	<input type="radio" name="use_cache" value="False" checked><label>No Cache</label><br>
	<input type="submit" name="queries_generate_submit">
</form>
