<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}  Home</title>
    {% endblock %}
</head>
<body>
<header>
<b>
Yash Dani : 1001707349
</b>
</header>
<p>
 <form action="/scatter" method="get">
	<input type="submit" value="scattered chart"><br/><br/>
</form>
</p>

<p>
 <form action="/line" method="get">
	<input type="submit" value="Line chart"><br/><br/>
</form>
</p>

<p>
 <form action="/pie" method="get">
	<input type="submit" value="pie chart"><br/><br/>
</form>
</p>

<p>
 <form action="/scatter2" method="get">
	<input type="submit" value="Scatter chart 2"><br/><br/>
</form>
</p>

{#<p>#}
{# <form action="/pie2" method="get">#}
{#    <br> Latitude range:#}
{#                <input type="number" name="latitudeStart" width="60" step="any">#}
{#                <input type="number" name="latitudeEnd" width="60" step="any"> <br></br>#}
{#	    <input type="submit" value="Scatter Plot latitude"><br/><br/>#}
{#</form>#}
{#</p>#}

<p>
 <form action="/bar" method="get">
	<input type="submit" value="bar chart"><br/><br/>
</form>
</p>

</body>
</html>
